{{#with recruitMe}}

<div id="created-profile-view">
<h3>The New Post Title is: {{full_name}}</h3>
<h5>The D.O.B. is: {{date_of_birth}}</h5>
<h5>The ID of the new post is: {{id}}</h5>
<h5>Resume URL is: {{resume_Url}}</h5>
<h5>Extra skills are:  {{extra_skills}}</h5>
</div>

{{/with}}
